<aside class="block">
  {% include sponsors.html %}
</aside>
<!--
<aside class="block">
  <div class="sponsors">
    <div class="heading">
        <h1>Actus</h1>
    </div>
        <a href="http://www.mix-it.fr/home" target="_blank">
            <img style="width: 100%;margin: 0 0 0 0;padding: 0 25% 0% 0%;" src="http://www.mix-it.fr/img/logo-mixit.png" al}t="DevoxxFR"/>
        </a>
        <br/>
        <br/>
        <hr/>
        <br/>
        <a href="https://reg.devoxx.fr/" target="_blank">
            <img style="width: 100%;margin: 0 0 0 0;padding: 0 25% 0% 0%;" src="https://prismic-io.s3.amazonaws.com/dvxfrance/7404079de4591fa0672e770a9c86779f5ed0776e_devoxx_fr_2016_256x256.png" al}t="DevoxxFR"/>
        </a>
  </div>
</aside>
-->
<aside class="block">
  {% include partenaires.html %}
</aside>
                              
