<aside class="block">
  <div class="sponsors">
    <div class="heading">
        <h1>Social</h1>
    </div>
        <a href="https://twitter.com/lavajug" target="_blank">
            <img src="assets/images/social/logo-twitter.png" alt="Twitter du LavaJUG"/>
        </a>
        <a href="https://github.com/LavaJUG" target="_blank">
            <img src="assets/images/social/logo-github.png" alt="GitHub du LavaJUG"/>
        </a>
  </div>
</aside>

<aside class="block">
  {% include sponsors.html %}
</aside>

<aside class="block">
  <div class="sponsors">
    <div class="heading">
        <h1>Actus</h1>
    </div>
        <a href="https://mixitconf.org/fr/" target="_blank">
            <img class="mixit" src="https://mixitconf.org/images/svg/mxt-icon--logo.svg" alt="MixIT"/>
        </a>
        <br/>
        <br/>
        <hr/>
        <br/>
        <a href="https://www.devoxx.fr/" target="_blank">
            <img class="devoxx" src="https://dvxfrance.cdn.prismic.io/dvxfrance/2ef0eb5da10bd97bf400ddc2100f75efbf7e2095_banniere_devoxx_fr_carre_2019_400.png" alt="DevoxxFR"/>
        </a>
  </div>
</aside>

<aside class="block">
  {% include partenaires.html %}
</aside>
                              
