
<br/>
<p>
{{ room.description }}
</p>

<br/><br/>
{% if loaded == false %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    {% assign loaded = true %} 
{% endif %}

{% assign counter = counter | plus: 1 %}
<div class="map_canvas" id="map{{counter}}"></div>
<script>//<![CDATA[


// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map{{counter}}').setView([{{ room.latitude }}, {{ room.longitude }}], 17);

// add an OpenStreetMap tile layer
L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// add a marker in the given location, attach some popup content to it and open the popup
L.marker([{{ room.latitude }}, {{ room.longitude }}]).addTo(map);

//]]></script>
<br/><br/><br/>
<p><img src="{{ room.image }}" class="location_picture" alt="{{room.image}}"></p>

