.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #1F1F1F;
	z-index: 10000;
	height: 230px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.header .inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.homelink,
.header h1,
.header nav, 
.header img {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.homelink,
.header h1,
.header nav a {
	line-height: 230px;
}

.homelink,
.header h1 {
	color: #f5f5f5;
	font-size: 2.5em;
	margin: 0 0 0 0.5em;
	float: left;
}
.homelink:hover{
	color:#333;	
}
.header img {
    margin: 50px 0;    
    float: left;    
    width: 150px;
}

.header nav {
	float: right;
}

.header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.header h1,
.header nav a,
.header img {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.header.header-shrink {
	height: 90px;
}

.header.header-shrink h1,
.header.header-shrink nav a {
	line-height: 90px;
}

.header.header-shrink img {
	width: 70px;
	margin: 15px 0;                
}

.header.header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 1000px) {
	
	.header .inner {
		width: 100%;
	}

	.header h1,
	.header nav,
    .header img {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.homelink{
		display: none;
	}
	.header h1,
	.header nav a,
	.header img {
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		transition: all 0s;
	}

	.header h1,
	.header nav a {
		line-height: 75px;
	}

	.header h1 {
		font-size: 2em;
	}
	
	.header img {
		width: 70px;
		padding-top: 10px;
	}

	.header nav a {
		margin: 0 10px;
	}

	.header.header-shrink h1,
	.header.header-shrink nav a {
		line-height: 80px;
	}

	.header.header-shrink img {
		width: 70px;
		margin: 5px 0;
		float: left;
	}

	.header.header-shrink h1 {
		display: none;
	}

	.header.header-shrink nav a {
		font-size: 1em;
	}
}

